@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #09090b;
    --text-color: #e4e4e7;
  }

  body {
    @apply bg-background text-text-primary antialiased font-sans;

    /* Optional: Global selection color */
    ::selection {
      @apply bg-yellow-500/20 text-yellow-500;
    }
  }
}